<!--The content below is only a placeholder and can be replaced.-->

<h2>Enter text to be analyzed</h2>
<div>
  <textarea [(ngModel)]="textModel.text" class="form-control" placeholder="Enter that what you want to kweet!"
            aria-label="Message"> </textarea>
  <label>
    Word count:
    <input type="checkbox" [(ngModel)]="textModel.amountOfWords">
  </label>
  <label>
    Most occuring character:
    <input type="checkbox" [(ngModel)]="textModel.mostOccuringCharacter">
  </label>
</div>
<button value="SENDO" type="submit" (click)="sendText()">Analyze!</button>
<div>

  <span *ngIf="textModel.amountOfWords">amount of words : {{amountOfWords}} </span> <br/>
  <span *ngIf="textModel.mostOccuringCharacter">Most occuring character : {{mostChar}}, with {{mostAmount}} of times in the text</span>
</div>
